.mainPage{
    height: 100vh;
    position: relative;
    .headerButton{
        position: absolute;
        left: -30px;
        top: 50%;
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid;
        cursor: pointer;

    }
}
.basketListClose{
    position: fixed;
    z-index: 99999;
    height: 100vh;
    width: 400px;
    background-color: white;
    top: 0;
    right: -300px;
    padding: 50px 30px;
    box-sizing: border-box;
    overflow-y: scroll;
    transition: all 1s;
    
}
.basketListOpen{
    position: fixed;
    z-index: 99999;
    height: 100vh;
    width: 400px;
    background-color: white;
    top: 0;
    right: 0;
    padding: 50px 30px;
    box-sizing: border-box;
    overflow-y: scroll;
    transition: all 1s;
    .basketinnerWrapper{
        height: 100%;
    }
   
    .basketCard{
        border-radius: 8px;
        padding: 20px 10px;
        border: 1px solid #dddd;
        margin-bottom: 10px;
        img{
            border-radius: 8px;
            width: 100%;
        }
    }
}